$fondo_tabla: rgba(255, 255, 255, 0.6);
$blanco: white;
$azul_transparente: rgb(23, 131, 179, 0.5); 
$rojo:red;
$hover_cruz:black;
$fondo_desck:lightgreen;
$fondo_movil:coral;
$fuente:Arial, Helvetica, sans-serif;